{% extends 'base.html' %}
{% load static %}

{% block title %}
 Create New Event
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/newevent.css' %}" type="text/css"/>
{% endblock css %}
  

{% block content %}
  <h1>New Event</h1>
  {% if messages %}
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create Event" />
  </form>
{% endblock %}